.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.3s;

  @media screen and (min-width: $bp-tablet) {
    display: none;
  }

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    fill: transparent;
    stroke: #000;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.01em;
    color: #000;
    max-width: 195px;
  }

  &__logo-decor {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: -0.01em;
    color: #838383;
    margin-bottom: -8px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 11px 8px 11px 11px;
    width: 100%;
    letter-spacing: -0.01em;
    color: #9197b3;
    stroke: #9197b3;
    fill: transparent;
  }
}
